---
name: Lint

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  lint:
    name: Luacheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        run: |
            sudo apt-get update
            sudo apt-get install luarocks -y
            sudo luarocks install luacheck

      - name: Lint
        run: luacheck lua/ --globals vim
